{% block head %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link href="../static/css/custom.css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.ico' />
{% endblock %}
<body style="padding: 0 " >
 <div  style="background:url('../static/img/index.png') ;width: 100%;height: 100%">
 <div class="hero-image-content">
 <div class="container">

<!-- Form Section -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav top-nav-nav">
                    <li class="active">
                        <a href="/"><i class="fa fa-fw fa-dashboard"></i><p3> Home</p3></a>
                    </li>
                
                        
                </ul>
            </div>
<div class="alert alert-info" role="alert">
    <h2> <strong>Student Enrollment System</strong> </h2> 
</div>
<header class="masthead bg-primary text-white text-center">
      <div class="container">

<h4>SES is an integrated system that will do student enrollment for any college or university</h4>

<p>The user is able to view, add, search and remove students from the college system </p>


<h2> SES was developed by Marshy:</h2>

Marshal Nzenza 0785890999




      </div>
    </header>  
     
</div>

  </div>
      </div>
    </div><!-- /.container -->

                    </div><!-- /.hero-image-content -->

                </div><!-- /.hero-image-inner -->
            </div><!-- /.hero-image -->
</body>







