{% extends 'site_template.html' %}


{% block body %}
<div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <strong>STUDENT ENROLLMENT SYSTEM</strong> <small>HOME</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Zimbabwe Colleges
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                 <!-- Header -->

</div> 
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
                
                    <img style='height: 20%; width: 70%;' class="img-fluid mb-5 d-block mx-auto" src="/static/img/pics.png" alt="">
                
        <h1 class="text-uppercase mb-0">SES</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Student Enrollment & Tracking</h2>
        <h2 class="font-weight-light mb-0">Created by Marshal Kallou Nzenza</h2>
      </div>
    </header>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->
		</div>
        <!-- /#page-wrapper -->
{% endblock %}